In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Base Data

In [27]:
df = pd.read_csv("./school_data.csv")
df.head()

,District\nNumber,District,Campus\nNumber,Campus,Region,County,School\nType,Grades\nServed,Alternative\nEducation\nAccountability,Charter,...,Distinction\nProgress,Distinction\nClosing the Gaps,Distinction\nPostsecondary\nReadiness,US Congress\nDistrict,US Congress\nElection District,TX House\nDistrict,TX House\nElection District,TX Senate\nDistrict,TX Senate\nElection District,Campus Enrollment\nType
0,1902,CAYUGA ISD,NaN,NaN,REGION 07: KILGORE,ANDERSON,District,NaN,No,No,...,NaN,NaN,Not Earned,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1902,CAYUGA ISD,1902001.0,CAYUGA H S,REGION 07: KILGORE,ANDERSON,High School,09 - 12,No,No,...,Earned,Earned,Earned,6.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED
2,1902,CAYUGA ISD,1902041.0,CAYUGA MIDDLE,REGION 07: KILGORE,ANDERSON,Middle School,06 - 08,No,No,...,Not Earned,Not Earned,Earned,6.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED
3,1902,CAYUGA ISD,1902103.0,CAYUGA EL,REGION 07: KILGORE,ANDERSON,Elementary,PK - 05,No,No,...,Not Earned,Not Earned,Not Earned,6.0,6.0,8.0,8.0,3.0,3.0,ZONED SCHOOL-TRANSFERS ACCEPTED
4,1903,ELKHART ISD,NaN,NaN,REGION 07: KILGORE,ANDERSON,District,NaN,No,No,...,NaN,NaN,Not Earned,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.columns = df.columns.str.replace("\n", " ", regex=False)

mask = df["Campus Number"].notna()

df.loc[mask, "ID"] = (
    "TX-"
    + df.loc[mask, "District Number"].astype(int).astype(str).str.zfill(6)
    + "-"
    + df.loc[mask, "Campus Number"].astype(int).astype(str).str.zfill(9)
)

df["ID"].head()

0                    NaN
1    TX-001902-001902001
2    TX-001902-001902041
3    TX-001902-001902103
4                    NaN
Name: ID, dtype: object

In [53]:
df.columns

Index(['District Number', 'District', 'Campus Number', 'Campus', 'Region',
       'County', 'School Type', 'Grades Served',
       'Alternative Education Accountability', 'Charter', 'Number of Students',
       '% Economically Disadvantaged', '% EB/EL Students', 'Overall Rating',
       'Overall Score', 'Student Achievement Rating',
       'Student Achievement Score', 'School Progress Rating',
       'School Progress Score', 'Academic Growth Rating',
       'Academic Growth Score', 'Relative Performance Rating',
       'Relative Performance Score', 'Closing the Gaps Rating',
       'Closing the Gaps Score', 'Support Label', 'Public Education Grant',
       'Distinction ELA/Reading', 'Distinction Mathematics',
       'Distinction Science', 'Distinction Soc Studies',
       'Distinction Progress', 'Distinction Closing the Gaps',
       'Distinction Postsecondary Readiness', 'US Congress District',
       'US Congress Election District', 'TX House District',
       'TX House Election District', 'TX Senate District',
       'TX Senate Election District', 'Campus Enrollment Type', 'ID'],
      dtype='object')

# Lunch Data

In [29]:
lunch_data = pd.read_csv("./lunch.csv", low_memory=False)
print(lunch_data.columns)
lunch_data.head()

Index(['SCHOOL_YEAR', 'FIPST', 'STATENAME', 'ST', 'SCH_NAME',
       'STATE_AGENCY_NO', 'UNION', 'ST_LEAID', 'LEAID', 'ST_SCHID', 'NCESSCH',
       'SCHID', 'DATA_GROUP', 'LUNCH_PROGRAM', 'STUDENT_COUNT',
       'TOTAL_INDICATOR', 'DMS_FLAG'],
      dtype='object')

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,ST_SCHID,NCESSCH,SCHID,DATA_GROUP,LUNCH_PROGRAM,STUDENT_COUNT,TOTAL_INDICATOR,DMS_FLAG
0,2022-2023,1,ALABAMA,AL,Alexander City Middle School,1,NaN,AL-102,100030,AL-102-0010,10003000001,100001,Free and Reduced-price Lunch Table,Free lunch qualified,195.0,Category Set A,Reported
1,2022-2023,1,ALABAMA,AL,Alexander City Middle School,1,NaN,AL-102,100030,AL-102-0010,10003000001,100001,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,2.0,Category Set A,Reported
2,2022-2023,1,ALABAMA,AL,Alexander City Middle School,1,NaN,AL-102,100030,AL-102-0010,10003000001,100001,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
3,2022-2023,1,ALABAMA,AL,Alexander City Middle School,1,NaN,AL-102,100030,AL-102-0010,10003000001,100001,Free and Reduced-price Lunch Table,No Category Codes,197.0,Education Unit Total,Reported
4,2022-2023,1,ALABAMA,AL,Alexander City Middle School,1,NaN,AL-102,100030,AL-102-0010,10003000001,100001,Direct Certification,Not Applicable,283.0,Education Unit Total,Reported

# Lunch Data

In [32]:
lunch_data = lunch_data[lunch_data["ST"] == "TX"]
lunch_data.head(50)

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,ST_SCHID,NCESSCH,SCHID,DATA_GROUP,LUNCH_PROGRAM,STUDENT_COUNT,TOTAL_INDICATOR,DMS_FLAG
380515,2022-2023,48,TEXAS,TX,A & M CONS H S,1,NaN,TX-021901,4807350,TX-021901-021901001,480735000001,4800001,Free and Reduced-price Lunch Table,Free lunch qualified,577.0,Category Set A,Reported
380516,2022-2023,48,TEXAS,TX,A & M CONS H S,1,NaN,TX-021901,4807350,TX-021901-021901001,480735000001,4800001,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,115.0,Category Set A,Reported
380517,2022-2023,48,TEXAS,TX,A & M CONS H S,1,NaN,TX-021901,4807350,TX-021901-021901001,480735000001,4800001,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380518,2022-2023,48,TEXAS,TX,A & M CONS H S,1,NaN,TX-021901,4807350,TX-021901-021901001,480735000001,4800001,Free and Reduced-price Lunch Table,No Category Codes,692.0,Education Unit Total,Reported
380519,2022-2023,48,TEXAS,TX,A & M CONS H S,1,NaN,TX-021901,4807350,TX-021901-021901001,480735000001,4800001,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380520,2022-2023,48,TEXAS,TX,COLLEGE HILLS EL,1,NaN,TX-021901,4807350,TX-021901-021901102,480735000002,4800002,Free and Reduced-price Lunch Table,Free lunch qualified,426.0,Category Set A,Reported
380521,2022-2023,48,TEXAS,TX,COLLEGE HILLS EL,1,NaN,TX-021901,4807350,TX-021901-021901102,480735000002,4800002,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,20.0,Category Set A,Reported
380522,2022-2023,48,TEXAS,TX,COLLEGE HILLS EL,1,NaN,TX-021901,4807350,TX-021901-021901102,480735000002,4800002,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380523,2022-2023,48,TEXAS,TX,COLLEGE HILLS EL,1,NaN,TX-021901,4807350,TX-021901-021901102,480735000002,4800002,Free and Reduced-price Lunch Table,No Category Codes,446.0,Education Unit Total,Reported
380524,2022-2023,48,TEXAS,TX,COLLEGE HILLS EL,1,NaN,TX-021901,4807350,TX-021901-021901102,480735000002,4800002,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380525,2022-2023,48,TEXAS,TX,COLLEGE STATION MIDDLE,1,NaN,TX-021901,4807350,TX-021901-021901041,480735000003,4800003,Free and Reduced-price Lunch Table,Free lunch qualified,251.0,Category Set A,Reported
380526,2022-2023,48,TEXAS,TX,COLLEGE STATION MIDDLE,1,NaN,TX-021901,4807350,TX-021901-021901041,480735000003,4800003,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,46.0,Category Set A,Reported
380527,2022-2023,48,TEXAS,TX,COLLEGE STATION MIDDLE,1,NaN,TX-021901,4807350,TX-021901-021901041,480735000003,4800003,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380528,2022-2023,48,TEXAS,TX,COLLEGE STATION MIDDLE,1,NaN,TX-021901,4807350,TX-021901-021901041,480735000003,4800003,Free and Reduced-price Lunch Table,No Category Codes,297.0,Education Unit Total,Reported
380529,2022-2023,48,TEXAS,TX,COLLEGE STATION MIDDLE,1,NaN,TX-021901,4807350,TX-021901-021901041,480735000003,4800003,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380530,2022-2023,48,TEXAS,TX,SOUTH KNOLL EL,1,NaN,TX-021901,4807350,TX-021901-021901101,480735000004,4800004,Free and Reduced-price Lunch Table,Free lunch qualified,377.0,Category Set A,Reported
380531,2022-2023,48,TEXAS,TX,SOUTH KNOLL EL,1,NaN,TX-021901,4807350,TX-021901-021901101,480735000004,4800004,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,34.0,Category Set A,Reported
380532,2022-2023,48,TEXAS,TX,SOUTH KNOLL EL,1,NaN,TX-021901,4807350,TX-021901-021901101,480735000004,4800004,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380533,2022-2023,48,TEXAS,TX,SOUTH KNOLL EL,1,NaN,TX-021901,4807350,TX-021901-021901101,480735000004,4800004,Free and Reduced-price Lunch Table,No Category Codes,411.0,Education Unit Total,Reported
380534,2022-2023,48,TEXAS,TX,SOUTH KNOLL EL,1,NaN,TX-021901,4807350,TX-021901-021901101,480735000004,4800004,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380535,2022-2023,48,TEXAS,TX,ABBOTT SCHOOL,1,NaN,TX-109901,4807380,TX-109901-109901001,480738000006,4800006,Free and Reduced-price Lunch Table,Free lunch qualified,69.0,Category Set A,Reported
380536,2022-2023,48,TEXAS,TX,ABBOTT SCHOOL,1,NaN,TX-109901,4807380,TX-109901-109901001,480738000006,4800006,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,8.0,Category Set A,Reported
380537,2022-2023,48,TEXAS,TX,ABBOTT SCHOOL,1,NaN,TX-109901,4807380,TX-109901-109901001,480738000006,4800006,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380538,2022-2023,48,TEXAS,TX,ABBOTT SCHOOL,1,NaN,TX-109901,4807380,TX-109901-109901001,480738000006,4800006,Free and Reduced-price Lunch Table,No Category Codes,77.0,Education Unit Total,Reported
380539,2022-2023,48,TEXAS,TX,ABBOTT SCHOOL,1,NaN,TX-109901,4807380,TX-109901-109901001,480738000006,4800006,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380540,2022-2023,48,TEXAS,TX,ABERNATHY EL,1,NaN,TX-095901,4807410,TX-095901-095901101,480741000007,4800007,Free and Reduced-price Lunch Table,Free lunch qualified,192.0,Category Set A,Reported
380541,2022-2023,48,TEXAS,TX,ABERNATHY EL,1,NaN,TX-095901,4807410,TX-095901-095901101,480741000007,4800007,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,10.0,Category Set A,Reported
380542,2022-2023,48,TEXAS,TX,ABERNATHY EL,1,NaN,TX-095901,4807410,TX-095901-095901101,480741000007,4800007,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380543,2022-2023,48,TEXAS,TX,ABERNATHY EL,1,NaN,TX-095901,4807410,TX-095901-095901101,480741000007,4800007,Free and Reduced-price Lunch Table,No Category Codes,202.0,Education Unit Total,Reported
380544,2022-2023,48,TEXAS,TX,ABERNATHY EL,1,NaN,TX-095901,4807410,TX-095901-095901101,480741000007,4800007,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380545,2022-2023,48,TEXAS,TX,ABERNATHY H S,1,NaN,TX-095901,4807410,TX-095901-095901001,480741000008,4800008,Free and Reduced-price Lunch Table,Free lunch qualified,109.0,Category Set A,Reported
380546,2022-2023,48,TEXAS,TX,ABERNATHY H S,1,NaN,TX-095901,4807410,TX-095901-095901001,480741000008,4800008,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,1.0,Category Set A,Reported
380547,2022-2023,48,TEXAS,TX,ABERNATHY H S,1,NaN,TX-095901,4807410,TX-095901-095901001,480741000008,4800008,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380548,2022-2023,48,TEXAS,TX,ABERNATHY H S,1,NaN,TX-095901,4807410,TX-095901-095901001,480741000008,4800008,Free and Reduced-price Lunch Table,No Category Codes,110.0,Education Unit Total,Reported
380549,2022-2023,48,TEXAS,TX,ABERNATHY H S,1,NaN,TX-095901,4807410,TX-095901-095901001,480741000008,4800008,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380550,2022-2023,48,TEXAS,TX,ABERNATHY MIDDLE,1,NaN,TX-095901,4807410,TX-095901-095901041,480741000009,4800009,Free and Reduced-price Lunch Table,Free lunch qualified,85.0,Category Set A,Reported
380551,2022-2023,48,TEXAS,TX,ABERNATHY MIDDLE,1,NaN,TX-095901,4807410,TX-095901-095901041,480741000009,4800009,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,5.0,Category Set A,Reported
380552,2022-2023,48,TEXAS,TX,ABERNATHY MIDDLE,1,NaN,TX-095901,4807410,TX-095901-095901041,480741000009,4800009,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380553,2022-2023,48,TEXAS,TX,ABERNATHY MIDDLE,1,NaN,TX-095901,4807410,TX-095901-095901041,480741000009,4800009,Free and Reduced-price Lunch Table,No Category Codes,90.0,Education Unit Total,Reported
380554,2022-2023,48,TEXAS,TX,ABERNATHY MIDDLE,1,NaN,TX-095901,4807410,TX-095901-095901041,480741000009,4800009,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380555,2022-2023,48,TEXAS,TX,ABILENE H S,1,NaN,TX-221901,4807440,TX-221901-221901001,480744000010,4800010,Free and Reduced-price Lunch Table,Free lunch qualified,1295.0,Category Set A,Reported
380556,2022-2023,48,TEXAS,TX,ABILENE H S,1,NaN,TX-221901,4807440,TX-221901-221901001,480744000010,4800010,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,51.0,Category Set A,Reported
380557,2022-2023,48,TEXAS,TX,ABILENE H S,1,NaN,TX-221901,4807440,TX-221901-221901001,480744000010,4800010,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380558,2022-2023,48,TEXAS,TX,ABILENE H S,1,NaN,TX-221901,4807440,TX-221901-221901001,480744000010,4800010,Free and Reduced-price Lunch Table,No Category Codes,1346.0,Education Unit Total,Reported
380559,2022-2023,48,TEXAS,TX,ABILENE H S,1,NaN,TX-221901,4807440,TX-221901-221901001,480744000010,4800010,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported
380560,2022-2023,48,TEXAS,TX,AUSTIN EL,1,NaN,TX-221901,4807440,TX-221901-221901102,480744000012,4800012,Free and Reduced-price Lunch Table,Free lunch qualified,415.0,Category Set A,Reported
380561,2022-2023,48,TEXAS,TX,AUSTIN EL,1,NaN,TX-221901,4807440,TX-221901-221901102,480744000012,4800012,Free and Reduced-price Lunch Table,Reduced-price lunch qualified,16.0,Category Set A,Reported
380562,2022-2023,48,TEXAS,TX,AUSTIN EL,1,NaN,TX-221901,4807440,TX-221901-221901102,480744000012,4800012,Free and Reduced-price Lunch Table,Missing,0.0,Category Set A,Reported
380563,2022-2023,48,TEXAS,TX,AUSTIN EL,1,NaN,TX-221901,4807440,TX-221901-221901102,480744000012,4800012,Free and Reduced-price Lunch Table,No Category Codes,431.0,Education Unit Total,Reported
380564,2022-2023,48,TEXAS,TX,AUSTIN EL,1,NaN,TX-221901,4807440,TX-221901-221901102,480744000012,4800012,Direct Certification,Not Applicable,NaN,Education Unit Total,Not reported

In [35]:
wide_df = lunch_data.pivot_table(
    index="ST_SCHID",             # unique key (school)
    columns="LUNCH_PROGRAM",      # new columns
    values="STUDENT_COUNT",       # what fills the cells
    aggfunc="sum",                # in case duplicates exist
    fill_value=0                  # replace NaN with 0
).reset_index()

wide_df = wide_df[["ST_SCHID", "Free lunch qualified", "Reduced-price lunch qualified"]]
wide_df.head()

LUNCH_PROGRAM,ST_SCHID,Free lunch qualified,Reduced-price lunch qualified
0,TX-001902-001902001,64.0,12.0
1,TX-001902-001902041,63.0,15.0
2,TX-001902-001902103,120.0,21.0
3,TX-001903-001903001,120.0,28.0
4,TX-001903-001903041,133.0,21.0

In [56]:
census = pd.read_csv("./census.csv")
census = census[census["ST"] == "TX"]
census.head()

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,ST_SCHID,NCESSCH,SCHID,GRADE,RACE_ETHNICITY,SEX,STUDENT_COUNT,TOTAL_INDICATOR,DMS_FLAG
9107366,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,Grade 1,American Indian or Alaska Native,Female,0.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
9107367,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,Grade 1,American Indian or Alaska Native,Male,0.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
9107368,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,Grade 1,Asian,Female,0.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
9107369,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,Grade 1,Asian,Male,0.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported
9107370,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,Grade 1,Black or African American,Female,0.0,Category Set A - By Race/Ethnicity; Sex; Grade,Reported

In [60]:
ethnicity = census.groupby(by=["ST_SCHID", "RACE_ETHNICITY"])["STUDENT_COUNT"].sum().unstack(fill_value=0).reset_index()
ethnicity.head()

RACE_ETHNICITY,ST_SCHID,American Indian or Alaska Native,Asian,Black or African American,Hispanic/Latino,Native Hawaiian or Other Pacific Islander,No Category Codes,Not Specified,Two or more races,White
0,TX-001902-001902001,0.0,2.0,12.0,36.0,0.0,513.0,0.0,16.0,276.0
1,TX-001902-001902041,0.0,2.0,16.0,32.0,0.0,498.0,0.0,18.0,264.0
2,TX-001902-001902103,0.0,2.0,28.0,44.0,0.0,771.0,0.0,20.0,420.0
3,TX-001903-001903001,0.0,6.0,24.0,76.0,2.0,945.0,0.0,20.0,502.0
4,TX-001903-001903041,2.0,0.0,18.0,62.0,0.0,810.0,0.0,16.0,442.0

In [49]:
staff = pd.read_csv("./staff.csv")
staff = staff[staff["ST"] == "TX"]
staff.head()

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,ST_SCHID,NCESSCH,SCHID,TEACHERS,TOTAL_INDICATOR,DMS_FLAG
80861,2022-2023,48,TEXAS,TX,CROSBYTON CISD PRE K-12,1,NaN,TX-054901,4800001,TX-054901-054901001,480000101146,4801146,32.05,Education Unit Total,Reported
80862,2022-2023,48,TEXAS,TX,SP ED CO-OP,1,NaN,TX-054901,4800001,TX-054901-054901200,480000103621,4803621,NaN,Education Unit Total,Missing
80863,2022-2023,48,TEXAS,TX,SPUR SCHOOL,1,NaN,TX-063903,4800002,TX-063903-063903001,480000204732,4804732,24.24,Education Unit Total,Reported
80864,2022-2023,48,TEXAS,TX,ROCKSPRINGS K-12,1,NaN,TX-069901,4800003,TX-069901-069901001,480000304219,4804219,20.37,Education Unit Total,Reported
80865,2022-2023,48,TEXAS,TX,POR VIDA ACADEMY CHARTER H S,1,NaN,TX-015801,4800004,TX-015801-015801001,480000407173,4807173,6.17,Education Unit Total,Reported

In [52]:
staff = staff[["ST_SCHID", "TEACHERS"]]
staff.head()

                  ST_SCHID  TEACHERS
80861  TX-054901-054901001     32.05
80862  TX-054901-054901200       NaN
80863  TX-063903-063903001     24.24
80864  TX-069901-069901001     20.37
80865  TX-015801-015801001      6.17

In [55]:
school = pd.read_csv("./school.csv")
print(school.columns)
school.head()
school["NSLP_STATUS_TEXT"].unique()

Index(['SCHOOL_YEAR', 'FIPST', 'STATENAME', 'ST', 'SCH_NAME',
       'STATE_AGENCY_NO', 'UNION', 'ST_LEAID', 'LEAID', 'ST_SCHID', 'NCESSCH',
       'SCHID', 'SHARED_TIME', 'NSLP_STATUS', 'NSLP_STATUS_TEXT', 'VIRTUAL',
       'VIRTUAL_TEXT'],
      dtype='object')

array(['Yes participating without using any Provision or the CEO',
       'Yes under Community Eligibility Option (CEO)', 'No',
       'Yes under Provision 2', 'Yes under Provision 3', 'Not reported',
       'Missing', 'Yes under Provision 1'], dtype=object)

# Dataset Construction

In [ ]:
df = df.merge(lunch, how='left', on='ID')